{% extends 'layout/basic.html'  %}

{% block title %} Заполнение матриц {% endblock %}

{% block content  %}

<form method="post">
    {% csrf_token %}
    <h1>Заполнение матриц</h1>
    <div class="layer1">
        <h3>Матрица стехиометрических коэффициентов</h3>
        <table id="stehCoef"></table>
        <h3>Матрица показателей степени</h3>
        <table id="pokStep"></table>
        <p>
            <input href="{% url 'result' %}" id="solution" type="button" value="Расчёт" onClick='location.href="{% url 'result' %}"'>

            <select id="methodName">
                <option disabled>Выберите метод</option>
                <option value="метод Эйлера">Метод Эйлера</option>
                <option value="Метод Рунге-Кутты 2-го порядка">Метод Рунге-Кутта 2-го порядка</option>
                <option value="Метод Рунге-Кутты 4-го порядка">Метод Рунге-Кутта 4-го порядка</option>
                <option value="Неявный метод Эйлера">Метод Эйлера неявный</option>
                <option value="Метод трапеций">Метод Трапеций</option>
                <option value="Метод средней точки">Метод Средней точки</option>
            </select>
        </p>
        <a href = "{% url 'result' %}">Результаты</a>
    </div>
    <div class="layer2">
        <h3>Экспериментальные данные</h3>
        <table id="expData"></table>
        <h3> Константы скорости</h3>
        <table id="constSpeed"></table>
    </div>
</form>

<script type="text/javascript">
        const stehCoef = document.getElementById('stehCoef');
        const pokStep = document.getElementById('pokStep');
        const expData = document.getElementById('expData');
        const constSpeed = document.getElementById('constSpeed');
        const inputSolution = document.getElementById('solution');
        const methodName = document.getElementById('methodName');

        window.onload = function () {

            function changeValue(event){
                let target = event.target;
                target.setAttribute("contenteditable", true);
            }

            function createTable(id, header, rows, cells) {
              let table = document.getElementById(id);
              for( let i = 0; i < 1; i++ ) {
                  let tr = document.createElement('tr')

                for (let j = 0; j < header.length; j++){
                    let th = document.createElement('th')
                    th.innerHTML = header[j];
                    tr.appendChild(th)
                }
                let count = 1;
                for (let j = header.length; j <= cells; j++){
                    let th = document.createElement('th');
                    th.innerHTML = "A" + count;
                    tr.appendChild(th);
                    count++;
                }
                table.appendChild(tr)
              }

              for( let i = 0; i < rows; i++ ) {
                  let tr = document.createElement('tr')

                for (let j = 0; j <= cells; j++){
                    let td = document.createElement('td')
                    if (j===0) td.innerHTML = i
                    else td.addEventListener("click", changeValue);
                    tr.appendChild(td)
                }
                table.appendChild(tr)
              }
            }

            let headerMatrix = ["№"];
            let headerExp = ["№","t"];
            let headerConst = ["№", "Константы"];

            {% for m in matrix %}
            createTable('stehCoef', headerMatrix, {{ m.stages }},{{ m.components }});
            createTable('pokStep', headerMatrix, {{ m.stages }},{{ m.components }});
            createTable('expData', headerExp, {{ m.experients }},{{ m.components}} + 1);
            createTable('constSpeed', headerConst, {{ m.stages }},1);
            {% endfor %}

        }

        function tableToJson(table) {
            let tableArray = [];
            let tr = table.querySelectorAll('tr');
            for (let i = 1; i < tr.length; i++) {
                let line = [];
                for (let j = 0; j < tr[i].children.length - 1; j++) {
                    if(tr[i].children[j+1].innerHTML === ''){
                        line[j] = 0;
                    }
                    else line[j] = Number(tr[i].children[j+1].innerHTML);
                }
                tableArray.push(line);
            }
            return tableArray;
        }

        function TablesDictionary(T1,T2,T3,T4,methodName){
            let dict = {
                "Матрица стехиометрических коэффициентов": T1,
                "Матрица показателей степени": T2,
                "Экспериментальные данные": T3,
                "Константы скорости": T4,
                "Название метода":methodName,
            };
            console.log(JSON.stringify(dict, null, 4))
            return JSON.stringify(dict, null, 4);
        }

        getMethodName = function() {
            var name = methodName.value;
            return name
        }

        inputSolution.addEventListener('click', () => TablesDictionary(tableToJson(stehCoef), tableToJson(pokStep), tableToJson(expData),tableToJson(constSpeed), getMethodName()));

        $(document).ready(function (){
            var csrf = $("input[name=csrfmiddlewaretoken]").val();
            $('#solution').click(function () {
                $.ajax({
                    url:'',
                    type: 'post',
                    data:{
                        json_tables: TablesDictionary(tableToJson(stehCoef), tableToJson(pokStep), tableToJson(expData),tableToJson(constSpeed), getMethodName()),
                        csrfmiddlewaretoken: csrf
                    },
                })
            })
        });
    </script>
{% endblock  %}